/* Root Variables */
:root {
  --background-color: #282a36;
  --text-color: #65b67a;
  --highlight-color: #9081cc;
  --input-background: #44475a;
  --input-text: #f8f8f2;
}

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 125px;
  height: 125px;
  z-index: 800;
  background: url('https://i.imgur.com/B9s6DHq.png') no-repeat center/100%;
  transform: translateX(-50%);
  background-color: rgba(40, 42, 54, 0.75);
  border-radius: 50%;
}

.corner-logo {
  position: absolute;
  top: -2.5%;
  left: 97%;
  width: 2.5%;
  height: 9%;
  z-index: 1000;
  background: url('https://support.robertsspaceindustries.com/hc/article_attachments/360022704853/MadeByTheCommunity_White.png') no-repeat center/100%;
}

.logo:hover {
  background-color: #6d5dbb;
  border-radius: 50%;
}

.logo:active {
  background-color: #65b67a;
  border-radius: 50%;
}

/* Container Styles */
.container, .result-card {
  position: absolute;
  background-color: rgba(40, 42, 54, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  left: 50%;
  z-index: 700;
  transform: translate(-50%, -50%);
}

.container {
  color: var(--text-color);
  width: 25%;
  padding: 15px;
  top: 40%;
}

.result-card {
  width: 380px;
  top: 72.5%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 600;
}

.result-card-show {
  opacity: 1;
  animation: fadeIn 0.5s ease-in;
}

/* Heading Styles */
h2 {
  text-align: center;
  font-size: 24px;
  color: var(--highlight-color);
}

/* Form Group Styles */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  margin-bottom: 15px;
}

.form-group input {
  width: 70%;
  padding: 8px;
  background-color: var(--input-background);
  color: var(--input-text);
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  text-align: center;
  margin: 5px 0 20px;
  box-sizing: border-box;
}

/* Button Styles */
button {
  width: 50%;
  padding: 10px;
  margin: 15px auto;
  background-color: var(--highlight-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6d5dbb;
}

/* Result Item Styles */
.result-item {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px 10px;
  font-size: 16px;
}

.result-item .label {
  font-weight: bold;
  color: var(--text-color);
}

/* Top Navigation Styles */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(40, 42, 54, 1);
  border-bottom: 2px solid var(--highlight-color);
  overflow: hidden;
  z-index: 1000;
}

.topnav a {
  float: left;
  padding: 14px 16px;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover, .topnav a.active {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

/* History Item Styles */
.history-item {
  width: 90%;
  margin: 10px -15px;
  padding: 10px;
  font-size: 14px;
  background-color: var(--input-background);
  border-radius: 5px;
  transition: background-color 0.3s;
  list-style: none;
}

.history-item:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
}

.history-date {
  font-size: 0.9em;
  color: #888;
}

.history-content {
  display: flex;
  justify-content: space-between;
}


/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 10px;
  background-color: rgba(40, 42, 54, 1);
  color: var(--text-color);
  text-align: center;
  padding: 15px;
  border-top: 2px solid var(--highlight-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container, .result-card {
    width: 90%;
    top: 37%;
    padding: 2px;
    padding-top: 20px;
    margin-left: 5px;
  }

  .result-card {
    width: 90%;
    top: 70%;
  }

  .form-group input,
  .form-group label,
  .form-group button,
  .history-item {
    width: 90%;
  }

  .topnav a {
    font-size: 14px;
    padding: 10px;
  }

  .footer {
    font-size: 12px;
    padding: 10px;
    margin-left: -10px
  }

  .logo {
    top: 80px;
    left: 50%;
    width: 100px;
    height: 100px;
  }

  .corner-logo {
    top: -2.7%;
    left: 90%;
    width: 8%;
    height: 10%;
  }
  #historyContainer {
    width: 96% !important;
    top: 37%;
    margin-top: -10px;
  }
}

/* Specific Styles */
#historyContainer.show {
  display: block;
  position: absolute;
  top: 52px;
  left: 0;
  width: 25%;
  padding: 10px;
  border-radius: 0 0 15px 0;
  background-color: rgba(40, 42, 54, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: auto;
  animation: fadeIn 0.5s ease-in, slideIn 0.5s ease-in;
}

#historyContainer.hide {
  animation: fadeOut 0.5s ease-out, slideOut 0.5s ease-out;
}

#numPeople {
  accent-color: var(--highlight-color);
  background-color: var(--input-background);
}

#numPeople:hover {
  accent-color: #6d5dbb;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

@keyframes slideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-100%); }
}

a:hover {
  color: #9081cc;
}

a:visited {
  color: #65b67a;
}

a:active {
  color: #6d5dbb;
}